body{
    margin: 0;
}

h1{
    margin: 0.6rem;
    height: 6rem;
    font-size: 6rem;
    color: rgb(191, 0, 0);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    min-height: 100vh;
}

#grid{
    display: flex;
    border: rgb(0, 0, 200) solid thick;
}

#button-wrapper{
    display: flex;
}

.control{
    opacity: 90%;
}

button{
    margin: 0.3rem 0.4rem 0.8em 0.4rem;
    font-size: 1.5rem;
    border: rgb(0, 0, 200) solid thick;
    border-radius: 2rem;
    height: 3rem;
    width: 7.3rem;
    opacity: 65%;
    background: black;
    color: red;
}

button:hover{
    opacity: 100%;
}

.light{
    opacity: 90%;
}