h1{
    margin-bottom: 10px;
    height: 1em;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#grid{
    display: flex;
    border: black solid;
}

.row{
    background : white;
}

#button-wrapper{
    display: flex;
}

button{
    margin: 5px 6px 11px 7px;
    font-size: medium;
    border: darkblue solid;
    border-radius: 30px;
    height: 2rem;
    width: 5rem;
    opacity: 70%;
}

button:hover{
    opacity: 100%;
}